<%- include('partials/header') %>
<h2>Edit Plant</h2>
<form action="/plants/<%= plant._id %>?_method=PUT" method="POST">
    <input type="text" name="name" value="<%= plant.name %>" required>
    <input type="text" name="light" value="<%= plant.light %>" required>
    <input type="text" name="water" value="<%= plant.water %>" required>
    <input type="text" name="image" value="<%= plant.image %>" required>
    <button type="submit" class="btn">Update Plant</button>
</form>
<%- include('partials/footer') %>
